:root {
  /* colors */
  --global-page-background-color: linear-gradient(to bottom, #dbd3d8, #e4e0e2);
  --global-background-color: #223843;
  --global-text-color: rgba(255, 255, 255, 0.9);
  --global-cloud-color: rgb(202, 202, 202);
  --global-sun-color: rgb(238, 198, 67);

  /* Shadow */
  --global-box-shadow-header: 3px 3px 5px 0px #1e2d35a4;
  --global-box-shadow-cloud: -10px 0px 30px 3px #1e2d3573;
  --global-box-shadow-rain: 2px 2px 5px 1px #36363633;
  --global-box-shadow-sun: 0px 0px 30px 3px #eed54773;

  /* transitions */
  --global-hover-btn-color: #1e2d35;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow: hidden;
  background: var(--global-page-background-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

/* APP */

.c-app {
  margin: 0 auto;
  max-width: 570px;
  overflow: hidden;
  height: 100vh;
  /* CSS Grid */
  display: grid;
  grid-template-columns: 0px;
  grid-template-rows: [row1-start] 15% [row1-end] 50% [third-line] auto [last-line];
  grid-template-areas:
    'header header header header'
    'main main main main'
    'footer footer footer footer';
}

/* HEADER */

.header {
  width: 90%;
  margin: 0 auto;
  grid-area: header;
}

.logo {
  width: 150px;
}

.weather-forecast {
  text-align: center;
  color: var(--global-text-color);
  background: var(--global-background-color);
  border-radius: 0 0 30px 30px;
  box-shadow: var(--global-box-shadow-header);
  height: 10%;
  margin: auto;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.temp {
  font-size: 16px;
  font-weight: 700;
}

/* MAIN */

.content {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  grid-area: main;
}

/* FOOTER */

.controls {
  width: 90%;
  margin-top: 40px;
  margin: 0 auto;

  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  grid-area: footer;
}

.weather-form {
  font-size: 25px;
  color: var(--global-background-color);
  text-align: center;
}

.button {
  transition: 0.2s;
  fill: var(--global-background-color);
  width: 30px;
}
.button:hover {
  fill: var(--global-hover-btn-color);
}

/* RAIN */

.rain {
  position: absolute;
  z-index: 1;
  width: 80%;
  top: 85px;
  margin: 0 auto;
}

.drops {
  animation-name: drops;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-color: rgba(163, 163, 163, 0.7);
  box-shadow: var(--global-box-shadow-rain);
  top: -20px;
  border-radius: 10px;
  height: 20px;
  width: 1px;
}

.drops1 {
  position: absolute;
  left: 10px;
  animation-delay: 1s;
  animation-duration: 1s;
}

.drops2 {
  position: absolute;
  left: 50px;
  animation-delay: 0.2s;
  animation-duration: 1.2s;
}

.drops3 {
  position: absolute;
  left: 100px;
  animation-delay: 1.5s;
  animation-duration: 1.6s;
}

.drops4 {
  position: absolute;
  left: 130px;
  animation-delay: 1.9s;
  animation-duration: 0.7s;
}

/* CLOUDS */

.cloud {
  width: 200px;
  height: 60px;
  top: 55px;
  background: var(--global-cloud-color);
  box-shadow: var(--global-box-shadow-cloud);
  border-radius: 200px;
  position: relative;
}

.cloud:before,
.cloud:after {
  content: '';
  position: absolute;
  background: var(--global-cloud-color);
  width: 100px;
  height: 80px;
  position: absolute;
  z-index: 10;
  top: -15px;
  left: 10px;
  border-radius: 100px;
  transform: rotate(30deg);
}

.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

.x1 {
  top: 170px;
  transform: scale(1);
  animation: moveclouds 10s linear infinite;
}

.x2 {
  top: 10px;
  transform: scale(1);
  animation: moveclouds 4s linear infinite;
}

.x3 {
  top: 80px;
  transform: scale(0.7);
  z-index: 11;
  animation: moveclouds 6s linear infinite;
}

/* SUN */
.sun {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  top: 80px;
  border-radius: 50%;
  position: relative;
  background-color: #f4c042;
  animation: rotate 50s infinite;
}

.sunRay {
  width: 7px;
  height: 30px;
  border-radius: 10px;
  background: #ffde00;
  box-shadow: var(--global-box-shadow-sun);
  position: absolute;
}

.s1 {
  transform: rotate(0deg);
  top: -20px;
  left: 63px;
}
.s2 {
  transform: rotate(60deg);
  top: 10px;
  left: 120px;
}
.s3 {
  transform: rotate(120deg);
  top: 80px;
  left: 125px;
}
.s4 {
  transform: rotate(180deg);
  top: 120px;
  left: 63px;
}

.s5 {
  transform: rotate(-60deg);
  top: 10px;
  left: 5px;
}
.s6 {
  transform: rotate(-120deg);
  top: 80px;
  left: 0px;
}

.sunbeams {
  top: -25px;
  left: -25px;
  position: absolute;
  transform-origin: 50% 100%;
  animation: grow 10s linear 0s infinite;
}

/* KEYFRAMES */
@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    top: -40px;
    left: -45px;
  }
  100% {
    transform: scale(1);
    top: -25px;
    left: -25px;
  }
}

@keyframes rotate {
  /* 0% {
    transform: rotate(0deg);
  } */
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes drops {
  0% {
    top: 0;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.295);
    top: 50px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    top: 200px;
  }
}

@keyframes moveclouds {
  0% {
    left: 100px;
  }
  50% {
    left: 30px;
  }
  100% {
    left: 100px;
  }
}

/* MEDIA QUERIES */

@media only screen and (min-width: 600px) {
  .c-app {
    grid-template-columns: 550px;
    grid-template-rows: [row1-start] 12% [row1-end] 70% [third-line] auto [last-line];
  }
  .logo {
    width: 175px;
  }
  .temp {
    font-size: 20px;
  }
  .controls {
    width: 90%;
    height: 25%;
    margin-top: 40px;
    margin-bottom: 2px;
  }
  @keyframes moveclouds {
    0% {
      left: 270px;
    }
    50% {
      left: 30px;
    }
    100% {
      left: 270px;
    }
  }
  .x1 {
    animation: moveclouds 13s linear infinite;
  }

  .x2 {
    top: 50px;
    transform: scale(1);
    animation: moveclouds 18s linear infinite;
  }

  .x3 {
    top: 90px;
    transform: scale(0.7);
    animation: moveclouds 15s linear infinite;
  }
}
