:root {
  /* colors */
  --global-page-background-color: #dbd3d8;
  --global-background-color: #223843;
  --global-text-color: rgba(255, 255, 255, 0.9);

  /* opacity */

  /* transitions */
  --global-hover-btn-color: #1e2d35;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow: hidden;
  background: var(--global-page-background-color);
  font-family: arial, sans-serif;
}

.c-app {
  margin: 0 auto;
  max-width: 550px;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */

  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: [row1-start] 30% [row1-end] 55% [third-line] auto [last-line];
  grid-template-areas:
    'header header header header'
    'main main main main'
    'footer footer footer footer';
}

.header {
  height: 65%;
  width: 100%;
  margin: 0;
  grid-area: header;
}

.weather-forecast {
  text-align: center;
  color: var(--global-text-color);
  background: var(--global-background-color);
  border-radius: 0 0 30px 30px;
  width: 100%;
  height: 10%;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.temp {
  font-size: 24px;
  font-weight: 700;
}

.content {
  grid-area: main;
}

.controls {
  height: 25%;
  margin-bottom: 5px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  grid-area: footer;
}

.weather-form {
  font-size: 25px;
  color: var(--global-background-color);
  text-align: center;
}

.button {
  transition: 0.2s;
  fill: var(--global-background-color);
  width: 30px;
}
.button:hover {
  fill: var(--global-hover-btn-color);
}
